.carts_container {
	display: flex;
	justify-content: start;
	gap: 20px;
	align-content: center;
}
.cart_mini {
	width: 250px;
	background-color: whitesmoke;
	color: black;
	opacity: .8;
	padding: 10px 12px;
	margin: 10px;
	border-radius: 5px;
	.cart_text {
		color: rgb(88, 86, 86);
		margin-bottom: 10px;
	}
	.b_total {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		.b_total_text {
			display: flex;
			gap: 4px;
			span {
				color: rgb(88, 86, 86);
			}
		}
		.r_b_text {
			font-size: 20px;
			font-weight: 600;
		}
	}
}