$sm: 576px;
$md: 768px;
$lg: 992px;
.wrap{
    width: 20px;
    height: 20px;
    @media(max-width:$lg){
        width: 13px;
        height: 13px;
    }
    @media(max-width:$md){
        width: 10px;
        height: 10px;
    }
    @media(max-width:$sm){
        width: 8px;
        height:8px;
    }
}