$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
$xxxxl: 1920px;
.flex_div {
  display: flex;
  gap: 20px;
  .table {
    width: 45%;
  }
}
.biggest_wrapper {
  .date {
    margin-top: 20px;
  }
}
.clamped{
  cursor: pointer;
  width: 100%;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
@media (max-width: $lg) {
  .flex_div {
    flex-direction: column;
    align-items: center;
    .main_wrapper {
      width: 60%;
    }
    .table {
      width: 100%;
    }
  }
}
@media (max-width: $md) {
  .flex_div {
    flex-direction: column;
    align-items: center;
    .main_wrapper {
      width: 100%;
    }
    .table {
      width: 100%;
    }
  }
}
@media (max-width: $sm) {
  .flex_div {
    flex-direction: column;
    align-items: center;
    .main_wrapper {
      padding: 30px 50px 30px 40px;
      .second_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
        .name {
          color: #3c518a;
          font-size: 13px;
          width: 100%;
          line-height: 33px;
          font-weight: 600;
        }
        .lavozim {
          color: #9cb1c9;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
      .third_wrapper {
        display: flex;
        justify-content: space-between;
        gap: 13px;
        margin-top: 48px;
        ul {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          li {
            color: #9cb1c9;
            font-size: 14px;
            font-weight: 500;
            line-height: 20.57px;
          }
        }
      }
      .btn {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 50px;
        display: flex;
        .btn1 {
          padding: 5px 22px;
          font-weight: 600;
          font-size: 13px;
        }
      }
    }
    .table {
      width: 100%;
    }
  }
}
