.carts_container {
	display: flex;
	justify-content: start;
	gap: 20px;
	align-content: center;
}
.cart_mini {
	width: 250px;
	color: black;
	opacity: .8;
	margin: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
.cart_text {
	margin-bottom: 10px;
	color: #3C518A;
}
.b_total {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		.b_total_text {
			display: flex;
			gap: 4px;
			color: #3C518A;
			span {
				/* color: rgb(88, 86, 86); */
			}
		}
		.r_b_text {
			font-size: 20px;
			font-weight: 600;
		}
	}
}