$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;
$xxxl: 1601px;
$xxxxl: 1921px;
$sidebarColor: #3ea2fb;
$sidebarHover: #375eb2;

header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: sticky;
    top: 0;
    z-index: 7000;
    
    &>div{
        height: 10vh;
        background: white;
        border-radius: 0px 0px 8px 8px;
        display: flex;
        align-items: center;
        -webkit-box-shadow: 0px 4px 12px 0px rgba(34, 60, 80, 0.135);
	    -moz-box-shadow: 0px 4px 12px 0px rgba(34, 60, 80, 0.135);
	    box-shadow: 0px 4px 12px 0px rgba(34, 60, 80, 0.135);
        padding: 0px 10px;
    }
}

.hamburgerMenu {
  padding: 4px 10px;
  background-color: black;
  font-size: 15px;
  color: white;
  font-weight: bold;
  display: none;
  @media (max-width: $lg) {
    display: block !important;
  }
}
