$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;  
$xxxl:1600px;
$xxxxl:1920px;


.dateFilterWrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
		.space{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 30px;
			@media (max-width:$md) {
				gap: 10px;
			}
		}
		.buttons{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 30px;
			@media (max-width:$md) {
				gap: 10px;
			}
		}
}