$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;  
$xxxl:1600px;
$xxxxl:1920px;



.space{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	@media (max-width:$md) {
		gap: 10px;
	}
}