$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
$xxxxl: 1920px;

.big_wrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 28px 30px 20px 30px;
  overflow-x: auto;
  @media (max-width: $sm) {
    padding: 20px 16px 10px 16px;
  }
  .add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    p {
      color: #3c518a;
      font-size: 33px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      @media (max-width:$xxxl) {
        font-size: 30px;
      }
      @media (max-width: $xl) {
        font-size: 28px;
      }
      @media (max-width: $lg) {
        font-size: 25px;
      }
      @media (max-width: $md) {
        font-size: 20px;
      }
      @media (max-width: $sm) {
        font-size: 18px;
      }
    }
    .btn_wrapper{
      display: flex;
      gap: 20px;
      @media (max-width: $xl){
       gap: 15px;
      }
      @media (max-width: $lg) {
        flex-direction: column;
      }
      @media (max-width: $md) {
        flex-direction: column;
      }
      @media (max-width: $sm) {
        flex-direction:column;
      }
      
    }
  }
}
